{template 'common/header'}
<style type="text/css">
    #item ul{
        display: flex;
        justify-content: space-between;
    }
    #cateSel{
        display: flex;
    }
    #cateSelDiv,#cateSelDiv select{
        width: 450px;
    }
    .hide{
        display:none;
    }
</style>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"> 添加客服 </h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal" role="form" method="post" action="" name="submit" id="personForm">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">适用门店</label>
                        <div class="col-sm-8">
                            <input type="hidden" name="token" value="{$_W['token']}">
                            <input type="hidden" name="id" value="{$id}">
                            <label class="radio-inline">
                                <input type="radio"  value="0" name="skind" {if $data['sid']=='0'}checked="checked"{/if}> 所有
                            </label>
                            <label class="radio-inline">
                                <input type="radio"  value="1" name="skind" {if $data['sid']!='0'}checked="checked"{/if}> 选择
                            </label>
                        </div>
                    </div>
                    <div class="form-group shopchoice {if $data['sid']=='0'}hide{/if}">
                        <label  class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            {loop $shopArr $index $item}
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="{$item['id']}" name="sid[]" {if $item['checked']=='1'}checked="checked"{/if}> {$item['name']}
                            </label>
                            {/loop}
                        </div>
                    </div>


                    <div class="form-group">
                        <label  class="col-sm-2 control-label">设为客服</label>
                        <div class="col-sm-8">

                            <label class="radio-inline">
                                <input type="checkbox"  name="isadmin" checked="checked">
                            </label>

                        </div>
                    </div>




                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" name="submit" value="提交" class="btn btn-default" id="submitBtn">
                    </div>
                </div>
            </div>


        </form>
        {$page} </div>
</div>
<script type="text/javascript">
    $(function(){

        $('input[name="skind"]').click(function(){
            var copy_kind=$('input[type="radio"][name="skind"]:checked').val();
            if(copy_kind==0){
                $('.shopchoice').addClass('hide');

            }else{
                $('.shopchoice').removeClass('hide');
            }

        })





    })
</script>
{template 'common/footer'}