{template 'common/header'}
<style type="text/css">
    div img{
        box-shadow: 3px 3px 3px 3px #ccc;
    }
</style>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            样式说明：
        </h3>
    </div>
    <div class="panel-body">

        <div>
            <h4>一行两列图片列表页样式:</h4>
            <img src="{$imgurl}cate1.jpg" >
        </div>
        <div>
            <h4>一行一列图片列表页样式:</h4>
            <img src="{$imgurl}cate2.jpg" >
        </div>
        <div>
            <h4>一行可左右滑动图片列表页样式:</h4>
            <img src="{$imgurl}cate3.jpg" >
        </div>
        <div>
            <h4>左侧缩略图右侧说明列表样式:</h4>
            <img src="{$imgurl}cate4.jpg" >
        </div>





    </div>
</div>


{template 'common/footer'}