{template 'common/header'}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            评论功能
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-inline" role="form" method="get" action="" name="submit">
            <div class="form-group">
                <input type="hidden" name="token" value="{$_W['token']}">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="m" value="yyf_oo">
                <input type="hidden" name="do" value="comment">

                <select class="form-control" name="kind" style="width:200px;">
                    <option value="-1">显示全部</option>
                    <option value="0">只显示服务评论</option>
                    <option value="1">只显示技师评论</option>
                </select>
                <input type="submit" name="submit" class="btn btn-default" value="查询">
            </div>
        </form>
        <form action="" method="post" class="form-horizontal form">

            <input type="hidden" name="storeid" value="">
            <div class="table-responsive panel-body">


                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th>id</th>
                        <th>昵称</th>
                        {if $kind==1}<th>技师</th>{/if}
                        <th>技师</th>
                        <th>分数</th>
                        <th>项目</th>
                        <th>内容</th>
                        <th >时间</th>
                        <th style="text-align:right;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $index $item}
                    <tr>
                        <td><div class="type-parent">{$item['id']}</div></td>

                        <td><div class="type-parent">{$item['nickname']}</div></td>
                        <td><div class="type-parent"><img src="{$item['avatar']}" style="width: 50px; height: 50px;"></div></td>
                        {if $kind==1} <td><div class="type-parent">{$item['pname']}</div></td>{/if}
                        <td><div class="type-parent">{$item['score']}</div></td>
                        <td style="width:120px;"><div class="type-parent">{$item['name']}</div></td>
                        <td style="width:150px;"><div class="type-parent">{$item['content']}</div></td>
                        <td><div class="type-parent">{$item['date']}</div></td>
                        <td style="text-align:right;"><a class="btn btn-default btn-sm"
                                                         href="{url 'site/entry/Comment',array('id'=>$item['id'],'m'=>'yyf_oo','op'=>'del')}" onclick="return confirm('确认删除吗？');return false;" title="删除">删</a></td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
                {$pager}
            </div>
        </form>
    </div>
</div>


{template 'common/footer'}