{template 'common/header'}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            优惠券管理 <a href="{url 'site/entry/Coupon',array('m'=>'yyf_oo','op'=>'add')}" class="btn btn-success" style="margin-left: 10px;color:white">添加优惠券</a>
        </h3>
    </div>
    <div class="panel-body">
       <form action="" method="post" class="form-horizontal form">
            <input type="hidden" name="storeid" value="">
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                       <th>id</th>
                       <th>标题</th>
                       <th>类型</th>
                        <th>总数量</th>

                    
                        <th >有效时间</th>
                        <th style="text-align:right;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $index $item}
                     <tr>
                     <td><div class="type-parent">{$item['id']}</div></td>
                
                       <td><div class="type-parent">{$item['title']}</div></td>
                       <td><div class="type-parent">{if $item['type']}优惠券{else}代金券{/if}</div></td>
                        <td><div class="type-parent">{$item['nums']}</div></td>
                
                        <td><div class="type-parent">{$item['active_starttime']}至{$item['active_endtime']}</div></td>
                        <td style="text-align:right;"><a class="btn btn-default btn-sm" href="{url 'site/entry/Coupon',array('id'=>$item['id'],'m'=>'yyf_oo','op'=>'edit')}" title="编辑">改</a>&nbsp;&nbsp;<a class="btn btn-default btn-sm" 
                            href="{url 'site/entry/Coupon',array('id'=>$item['id'],'m'=>'yyf_oo','op'=>'del')}" onclick="return confirm('确认删除吗？');return false;" title="删除">删</a></td>
                    </tr>
                    {/loop}     
                    </tbody>
                </table>
                 {$pager}   
            </div>
        </form>
    </div>
</div>


{template 'common/footer'}