{template 'common/header'}
<style type="text/css">
  .hide{ display: none;}
</style>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"> 修改服务 </h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form" method="post" action="" name="submit">
      <div class="alert alert-info info" role="alert">
        图片尺寸: [新闻缩略图->226*150],[一行两列缩略图->344*210],[一行一列缩略图->720*400]单位为像素
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">服务名称</label>
        <div class="col-sm-4">
          <input type="text" class="form-control"  name="title" value="{$data['title']}">
          <input type="hidden" name="token" value="{$_W['token']}">
        </div>
      </div>
      <div class="form-group ishide">
        <label  class="col-sm-2 control-label">一句话简介</label>
        <div class="col-sm-8">
          <input type="text" class="form-control"  name="desc" value="{$data['desc']}">
        
        </div>
      </div>
      <div class="form-group ishide">
        <label  class="col-sm-2 control-label">项目时长</label>
        <div class="col-sm-1">
          <input type="text" class="form-control"  name="itemtime" value="{$data['itemtime']}">
        </div>
        <div class="col-sm-9">
          分钟(开启了员工预约时间功能后，假设项目为60分钟，客户预定服务时间是8:30那么8:30-9:30，其他人无法再预约)
        </div>

      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">适用门店</label>
        <div class="col-sm-8">
          <label class="radio-inline">
            <input type="radio"  value="0" name="skind" {if $data['sid']=='0'}checked="checked"{/if}> 所有
          </label>
          <label class="radio-inline">
            <input type="radio"  value="1" name="skind" {if $data['sid']!='0'}checked="checked"{/if}> 选择
          </label>
        </div>
      </div>

      <div class="form-group shopchoice {if $data['sid']=='0'}hide{/if}">
        <label  class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          {loop $shopArr $index $item}
          <label class="checkbox-inline">
            <input type="checkbox"  value="{$item['id']}" name="sid[]" {if $item['checked']=='1'}checked="checked"{/if}> {$item['name']}
          </label>
          {/loop}
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">分类</label>
        <div class="col-sm-10">
           <select class="form-control" name="cid" style="width: 50%;" id="cate"> 
            {loop $list $index $item}
              <option value="{$item['id']}" {if $item[id]==$data[cid]} selected="selected" {/if} test="{$item['type']}">{$item['name']}</option>
              {loop $item['son'] $index1 $item1}
                <option value="{$item1['id']}" {if $item1[id]==$data[cid]} selected="selected" {/if} test="{$item['type']}">&nbsp;&nbsp;&nbsp;&nbsp;___{$item1['name']}</option>
              {/loop}
            {/loop}
           </select>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">缩略图</label>
        <div class="col-sm-7">  {php echo tpl_form_field_image('thumb',$data['thumb']);} </div>
      </div>


      <div class="form-group" id="video_div">
        <label  class="col-sm-2 control-label">视频播放地址</label>
        <div class="col-sm-6" >
          <input type="text" class="form-control"  name="videosrc" value="{$data['videosrc']}">
        </div>
        <div class="col-sm-4" >
          不支持腾讯视频或者其他在线在线，请将mp4文件传到自己的服务器里或者七牛云
        </div>
      </div>
     
      <div class="form-group ishide">
        <label  class="col-sm-2 control-label">价格</label>
        <div class="col-sm-2">
          <input type="text" class="form-control"  name="price" value="{$data['price']}">
        </div>
        <label  class="col-sm-1 control-label">积分</label>
        <div class="col-sm-2">
          <input type="text" class="form-control"  name="score" value="{$data['score']}">
        </div>
        <div class="col-sm-4">
          客户每消费一次所用的积分
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">开启团购</label>
        <div class="col-sm-1">
          <input type="checkbox" class="form-control"  name="startgroup" id="startgroup"  {if $data[startgroup]=='1'} checked="checked" {/if} >
        </div>
      </div>

      <div class="form-group {if $data[startgroup]=='0'} hide {/if}" id="groupinfo">
        <label  class="col-sm-2 control-label">团购价格</label>
        <div class="col-sm-2">
          <input type="text" class="form-control"  name="groupprice" value="{$data['groupprice']}">
        </div>
        <label  class="col-sm-1 control-label">团购人数</label>
        <div class="col-sm-2">
          <input type="text" class="form-control"  name="groupnums" value="{$data['groupnums']}">
        </div>
        <div class="col-sm-1">
          最少两人
        </div>
        <label  class="col-sm-1 control-label">有效时间</label>
        <div class="col-sm-2">
          <input type="text" class="form-control"  name="grouptime" value="{$data['grouptime']}">
        </div>
        <div class="col-sm-1">
          小时
        </div>

      </div>
   
      <div class="form-group">
        <label  class="col-sm-2 control-label">排序</label>
        <div class="col-sm-2">
          <input type="text" class="form-control"  name="sortrank" value="{$data['sortrank']}">
        </div>
        <div class="col-sm-1">
        	数值越大越靠前
        </div>
      </div>
      <div class="ishide" style="text-align: center;">图片像素 (375*200)</div>
      <div class="form-group ishide">
        <label  class="col-sm-2 control-label">服务项目幻灯片</label>
        <div class="col-sm-10">
          {php echo tpl_form_field_multi_image('multi-image',$images);}
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label" style="margin-top: 5px;">是否显示在手机前台</label>
        <div class="col-sm-10">
          <label class="checkbox-inline">
            <input type="checkbox"   name="show" {if $data['show']=='1'} checked="checked" {/if}>
          </label>
        </div>
      </div>
      <div class="ishide" style="text-indent: 150px; font-size: 16px;">小程序暂时不支持复杂的格式文本，如果发现前台显示空白，请把内容复制到文本文档里中转一下。</div>
      <div class="form-group ishide" id="cotent">
        <label  class="col-sm-2 control-label">具体内容</label>
        <div class="col-sm-10">
       {php echo tpl_ueditor('content',$data['content']);}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" name="submit" class="btn btn-default">
        </div>
      </div>
    </form>
    {$page} </div>
</div>
<script type="text/javascript">
    $(function(){
        var catetype=$('#cate').find("option:selected").attr("test");
        domhide(catetype);
        $('#cate').change(function(){
            var catetype=$(this).find("option:selected").attr("test");
            domhide(catetype);
        })
        function domhide(catetype){
            if(catetype=='7'){
                $('#video_div').show();
                $('.ishide').hide();
            }else{
                $('#video_div').hide();
                $('.ishide').show();
            }
        }

        $('input[name="skind"]').click(function(){
            var copy_kind=$('input[type="radio"][name="skind"]:checked').val();
            if(copy_kind==0){
                $('.shopchoice').addClass('hide');

            }else{
                $('.shopchoice').removeClass('hide');
            }

        })

        $("#startgroup").click(function(){
            if($(this).is(':checked')){
                $('#groupinfo').removeClass('hide');
            }else{
                $('#groupinfo').addClass('hide');
            }

        })
    })
</script>
{template 'common/footer'}