{template 'common/header'}
<style type="text/css">
    .info{
        height: 35px; line-height: 35px; padding-top: 0px;
    }
    .hide{ display: none; }
</style>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            新版跳转小程序说明
        </h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert" style="font-size: 22px;"> 在小程序上传前端页面，把要跳转的小程序APPID添加进去。注意需要重新提交审核前端，才能生效！</div>
        <img src="{MODULE_URL}/images/miniinfo.png"  style="width:830px;">
    </div>
</div>


{template 'common/footer'}