{template 'common/header'}
<style type="text/css">
	.info{
		 padding: 5px; 
	}
	.hide{ display: none; }
</style>
 <link rel="stylesheet" href="{MODULE_URL}images/bootstrap-switch.css">
<script type="text/javascript" src="{MODULE_URL}images/bootstrap-switch.js"></script> 
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            通知设置
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="" name="submit">
			
        <form class="form-horizontal" role="form" method="post" action="" name="submit">
			<div class="alert alert-info info" role="alert">
				邮件设置
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">表单提醒邮箱</label>
				<div class="col-sm-6">
					<input type="hidden" name="token" value="{$_W['token']}">
					<input type="text" class="form-control" id="position" name="message_email" value="{$result['message_email']}">
				</div>
				<div class="col-sm-4">
					多个邮箱用英文逗号隔开。微信提醒设置方法：微信设置->通用->功能->开启QQ邮箱提醒
				</div>
			</div>
			

			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">发送邮箱：</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="position" name="smtp_email" value="{$result['smtp_email']}">
				</div>
				<div class="col-sm-4">
					发送邮箱最好和提醒邮箱是同一个邮箱账号
					
				</div>
			</div>

			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">发送邮箱授权码</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="position" name="smtp_key" value="{$result['smtp_key']}">
				</div>
				<div class="col-sm-4">
					<a href="{url 'site/entry/Smtp',array('m'=>'yyf_oo')}" style="color: red; font-size: 16px" target="_blank">邮箱配置说明 </a>
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">邮件标题设置</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="position" name="message_title" value="{$result['message_title']}">
				</div>
				<div class="col-sm-4">
					客户提交表单后，管理员邮箱收到邮件标题。比如:您有新的业务咨询。
				</div>
			</div>
			<div class="alert alert-info info" role="alert">
    		手机短信设置：如不想使用，留空即可。仅支持聚合短信，登录【<a href="https://www.juhe.cn/" style="color:red" target="_blank">官方网站</a>】,实名认证->申请短信API服务->添加自定义模板->等待审核通过->再申请API应用认证
    		</div>
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">订单短信提醒手机号：</label>
				<div class="col-sm-6">
					<input type="text" class="form-control"  name="sms_phone" value="{$result['sms_phone']}">
				</div>
				<div class="col-sm-4">
					多个手机号请用英文逗号(,)分隔开
				</div>
			</div>
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">模板id</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="sms_id" value="{$result['sms_id']}">
				</div>
			</div>

			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">发送秘钥</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="sms_key" value="{$result['sms_key']}">
				</div>
			</div>
			<div class="alert alert-info info" role="alert">
    		打印机设置：如不想使用，留空即可。仅支持365无线打印机
    		</div>
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">机器号</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="printer_id" value="{$result['printer_id']}">
				</div>
			</div>

			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">秘钥</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="printer_key" value="{$result['printer_key']}">
				</div>
			</div>




			<div class="form-group">
				
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="submit" class="btn btn-default">
					
				</div>
			</div>


			
	</form>
    </div>
</div>
<script type="text/javascript">
	
</script>

{template 'common/footer'}