{template 'common/header'}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            参数设置
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="" name="submit">
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">小程序AppId</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="appid"  value="{$result[appid]}">
					<input type="hidden" name="token" value="{$_W['token']}">
					<input type="hidden" name="id" value="{$result[id]}">
				</div>
			</div>
		
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">小程序AppSecret</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="appsecret" value="{$result[appsecret]}">
					
				</div>
			</div>

			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">微信支付商户号</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="mchid" placeholder="为保证安全性,不显示其内容，若要修改，请直接输入">
					
				</div>
			</div>


			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">微信支付key</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="appkey" placeholder="为保证安全性,不显示其内容，若要修改，请直接输入">
					
				</div>
			</div>


			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">微信支付apiclient_cert.pem</label>
				<div class="col-sm-10">
					<textarea style="height:100px;"  name="certpem" class="form-control" cols="60" placeholder="为保证安全性,不显示其内容，若要修改，请直接输入"></textarea>
					
				</div>
			</div>


			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">微信支付apiclient_key.pem</label>
				<div class="col-sm-10">
					<textarea style="height:100px;"  name="keyem" class="form-control" cols="60" placeholder="为保证安全性,不显示其内容，若要修改，请直接输入"></textarea>
					
				</div>
			</div>

			

			<div class="form-group">
				
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="submit" class="btn btn-default">
					
				</div>
			</div>


			
	</form>
    </div>
</div>


{template 'common/footer'}