{template 'common/header'}

<div class="panel panel-info">

    <div class="panel-heading">
        <h3 class="panel-title">
            充值记录
        </h3>
    </div>

    <div class="panel-body">
        <form action="" method="post" class="form-horizontal form">
            <input type="hidden" name="storeid" value="">
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>

                        <th>充值单号</th>
                        <th>会员昵称</th>

                        <th >充值时间</th>
                        <th >充值金额</th>
                        <th >赠送金额</th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $index $item}
                    <tr>
                        <td><div class="type-parent">{$item['oid']}</div></td>
                        <td><div class="type-parent">{$item['nickname']}</div></td>

                        <td><div class="type-parent">{php echo date('Y-m-d H:i:s', $item['addtime'])}</div></td>
                        <td><div class="type-parent">{$item['money']}元</div></td>
                        <td><div class="type-parent">{$item['givemoney']}</div></td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
                {$pager}
            </div>
        </form>
    </div>
</div>


{template 'common/footer'}