{template 'common/header'}

<style>
    #recharge input{
        width:90px;
    }
    #recharge .input-group{
        margin: 0px;
        padding: 0px;
    }
    #recharge .groupSelect{
        width: 150px;
    }
    .hide{
        display: none;
    }

</style>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            充值优惠设置
        </h3>
    </div>
    <div class="panel-body" id="recharge">
        <div class="alert alert-info" role="alert">
           如果想删除某项，删除该项数据，然后保存即可。
        </div>
        <form class="form-horizontal" role="form" method="post" action="" name="submit">
            <input type="hidden" name="token" value="{$_W['token']}">
            <div class="form-group" style="margin-left:10px">
                <button class="btn btn-success" id="addHtmlBtn">增加</button>
                <a class="btn btn-success" href="{url 'site/entry/Recharge',array('m'=>'yyf_oo','op'=>'list')}" style="margin-left: 10px; color: white;">查看充值记录</a>
            </div>
            <div id="resourceHtml" class="{if $hideResource==1}hide{/if}">
                <div class="form-inline">
                    <div class="input-group">
                        <div class="input-group-addon">冲</div>
                        <input type="text" class="form-control" name="money[]">
                        <div class="input-group-addon">元</div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">送</div>
                        <input type="text" class="form-control" name="givemoney[]">
                        <div class="input-group-addon">元</div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">获得</div>
                        <select class="form-control groupSelect" name="gid[]" >
                            <option value="0">初始会员</option>
                            {loop $groupList $index $item}
                            <option value="{$item[id]}">{$item[name]}</option>
                            {/loop}
                        </select>
                        <div class="input-group-addon">会员等级</div>
                    </div>
                </div>
            </div>
            <div id="copyHtml">
                {loop $list $index $item}
                <div class="form-inline">
                    <div class="input-group">
                        <div class="input-group-addon">冲</div>
                        <input type="text" class="form-control" name="money[]" value="{$item['money']}">
                        <div class="input-group-addon">元</div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">送</div>
                        <input type="text" class="form-control" name="givemoney[]" value="{$item['givemoney']}">
                        <div class="input-group-addon">元</div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">获得</div>
                        <select class="form-control groupSelect" name="gid[]" value="{$item['gid']}">
                            <option value="0" {if $item[gid]=='0'} selected="selected"{/if}>初始会员</option>
                            {loop $groupList $index $item1}
                            <option value="{$item1[id]}" {if $item[gid]==$item1[id]} selected="selected"{/if}>{$item1[name]}</option>
                            {/loop}
                        </select>
                        <div class="input-group-addon">会员等级</div>
                    </div>
                </div>
                {/loop}
            </div>
            <div class="form-group" style="margin-top:30px;">

                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" name="submit" class="btn btn-default">

                </div>
            </div>


        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $("#addHtmlBtn").click(function () {
            var resourceHtml = $('#resourceHtml').html();
            var copyHtml = $('#copyHtml').html();
            $('#copyHtml').html(copyHtml+resourceHtml);
            return false;
        })

    })
</script>

{template 'common/footer'}